/* Main Body */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Frame */

.frame {
    background: linear-gradient(to top right, #43389f, #4ec6ca);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px; */
}

/* Number 100 */

.number {
    position: relative;
    width: 200px;
    height: 100px;
}

.one-one {
    position: absolute;
    top: 0;
    left: -16px;
    transform: rotate(50deg);
    background-color: #fff;
    height: 40px;
    width: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.one-two {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100px;
    width: 24px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.zero-one,
.zero-two {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 17px;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 24px solid #fff;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.zero-two {
    z-index: 6;
    left: 100px;
}

/* Big class */

.big {
    display: block;
    font-size: 82px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 6px;
}

/* Small class */

.small {
    font-size: 23px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.04em;
}
